body
{
	margin: 0px;
	height: 100%;
	text-align: center;
	font-family: 'Gill Sans MT', Arial;
	font-size: 14px;
}

#divDefaultContainer
{
	width: 1024px;
	min-height: 768px;
	background-color: White;
	min-height: 100%;
	position: relative;
	overflow: visible;
	margin: 0px auto;
	clear: left;
}

#divDefaultHeader
{
	display: block;
	width: 100%;
	text-align: left;
	border-bottom: solid 5px #F5A01A;
	color: #FFFFFF;
}

#divDefaultBody
{
	padding: 5px 10px 5px 10px;
	display: inline-block;
	min-height: 587px;
	text-align: left;
	border-left-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #1B4298;
	border-left-color: #1B4298;
	overflow: visible;
    width: 1004px;
}

#divDefaultBody a:link
{
	color: #8CA4D5;
}

#divDefaultBody a:visited
{
	color: #8CA4D5;
}

#divDefaultBody a:hover
{
	color: #8CA4D5;
}

#divDefaultBody a:active
{
	color: #8CA4D5;
}

#divDefaultFooter
{
	padding: 3px 0px 3px 00px;
	background-color: #CCCCCC;
	height: 26px;
	border-top: Solid 1px #3B5A82;
	display: block;
	position: inherit;
	bottom: 0px;
	width: 100%;
	text-align: left;
	background-color: #1b4298;
	font-size: 9px;
	color: #FFFFFF;
}

#divDefaultHeaderRow1
{
	height: 71px;
	width: auto;
	background-color: #1b4298;
	padding: 15px 40px 5px 40px;
	display: block;
	background-image: url('../../App_Themes/NCU/Images/CornerLarge.gif');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #1b4298;
	vertical-align:bottom;
}

.imgLogo
{
	vertical-align: bottom;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: inline-block;
	height:inherit;
	width:inherit;
	margin-bottom:10px;
}

#divDefaultHeaderLogo
{
	float: left;
	width: 50%;
	display: inline;
	vertical-align:bottom;
	height: 71px;
	bottom: 0px;
	position: relative;
}

#divDefaultHeaderMenu
{
	float: right;
	width:auto;
	text-align:right;
	vertical-align:bottom;
}

#divDefaultHeaderMenu a:link
{
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
	color: #FFFFFF;
	text-decoration: none;
	display:inline;
}

#divDefaultHeaderMenu  a:visited 
{
	padding-right: 5px;
	padding-left: 5px;
	height:100%;
	color: #FFFFFF;
}

#divDefaultHeaderMenu a:hover 
{
	padding-right: 5px;
	padding-left: 5px;
	height:100%;
	color: #000000;
}

#divDefaultHeaderMenu a:active 
{
	padding-right: 5px;
	padding-left: 5px;
	height:100%;
	color: #FFFFFF;
}


#divDefaultHeaderRow2
{
	height: 30px;
	width: auto;
	background-color: #8ca4d5;
	border-top: solid 1px black;
	padding: 0px 40px 0px 40px;
	display: block;
	border-top-color: black;
	border-bottom: solid 5px #ECEB66;
}

.Header2Menu
{
	height: 100%;
}

.Header2MenuStyle
{
	z-index: 1000; 
	height:100% !important;
	padding: 0px 0px 0px 0px !important;
}

.Header2MenuItemStyle
{
	padding-right: 15px;
	padding-left: 15px;
	height:100% !important;
	z-index: 1000;
	color: #FFFFFF;
}
.Header2MenuHover
{
	color: #000000;
}


.Header1MenuItemStyle
{
	padding-right: 5px;
	padding-left: 5px;
	height:100%;
	color: #FFFFFF;
	vertical-align:bottom;	
}

.Header1MenuHover
{
	color: #000000;
}

.Header2SubMenuStyle
{
	z-index: 1000;
	padding: 0px 0px 0px 0px !important;
	border-bottom: solid 1px #C0C0C0;
	border-right: solid 1px #C0C0C0;
	border-left: solid 1px #C0C0C0;
}

.Header2SubMenuItemStyle
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 3px;
	height:100% !important;
	z-index: 1000;
	color: black;
	border-top: solid 1px #CCCCCC;
	background-color: #FFFFF7;

}
.Header2SubMenuHover
{
	color: black;
	background-color: #E9E9E9;
}

.certificatebody {
	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	margin: 0px;
}

.certificatesealpadding {
	padding-right: 70px;
}
.certificatecoursename {
	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #000000;
}
.certificatedate {
	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}
.certificatestudentname {
	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	font-size: 48px;
	color: #000000;
}
.formpulldownwide {
	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 20px;
	width: 330px;
}
.formlistboxwide {
	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 330px;
}
.fauxlabel
{
	 border-style: none;
	 border-color: White;
	font-family: 'Gill Sans MT', Arial;
	text-align: right;
}

.mainTable
{
	display: table;
	width: 100%;
}

.basicTable
{
  border: solid 1px #3971AD;
}

*+html .mainTable
{
	display:inline;
}

.mainRow
{
	display: block;
	height: auto;
	padding: 10px 5px;
	vertical-align: top;
}

*+html .mainRow
{
	display:inline;
}

.mainRow2
{
	display: table-row;
	width: 100%;
	height:70px;
	position:inherit;
	margin-bottom:0px;
	clear:both;
}

*+html .mainRow2
{
	display:inline;
}

.mainColumnLeft
{
	margin: 0px;
	display: block;
	/*width: 65%;*/
	height: auto;
	padding: 10px 5px;
	vertical-align: top;
}

*+html .mainColumnLeft
{
	float:left;
	width:63.65%;
	height:auto;
}

.mainColumnLeft2
{
	padding-left:4px;
	padding-top: 30px;
	display: table-cell;
	/*width: 65%;*/
	height: inherit;
	vertical-align: bottom;
}

*+html .mainColumnLeft2
{
	float:left;
	width:63.65%;
}

.mainColumnRight
{
	margin: 0px;
	display: block;
	/*width: 35%;*/
	height: auto;
	padding: 10px 5px 10px 10px;
	vertical-align: top;
}

*+html .mainColumnRight
{
	float:right;
	width: 33.1%;
	height:auto;
}
.modalBackground {
	background-color:gray;
	filter:alpha(opacity=40);
	opacity:0.4;
}

.modalPopup {
	background-color:#F2F2F2;
	border-width:1px;
	border-style:solid;
	border-color:#1B4298;
	padding:10px;
}

table th { background-color:Transparent;}

.tableGrid
{
	border: 0px solid #CCCCCC;
	padding: 2px;
}
.tableGrid td
{ 
	border:1px solid #CCCCCC;
} 
.tableNoGrid
{
	border: solid 1px #FFF;
}
.tableNoGrid td
{ 
	border: solid 1px #FFF;
} 
.cursor
{
	cursor: pointer;
}

td.hoverHghlt 
{ background-color: white; 
    border: solid 1px #8CA4D5;
    font-size: large;    
} 
td.hoverHghlt:hover 
{ 
	background-color: #F2F299;
    border: solid 1px #8CA4D5; 
}     
.description
{
font-size: 10pt;
}
.divUCContent
{
}

.divUCHeader
{
	text-align: left;
	font-weight: bold;
	height: 30px;
	font-size: 18px;
	display: block;
	vertical-align: middle;
	color: #FFFFFF;
	padding-left: 10px;
	background-image: url('../../App_Themes/NCU/Images/CornerSmall.gif');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #1b4298;
}

.ucBody
{
	border: 1px solid #1B4298;
	text-align: left;
	display: block;
	padding: 5px 15px;
	min-height:210px;
	height:inherit;
}

.ucBody a:link
{
	color: #8CA4D5;
}

.ucBody a:visited
{
	color: #8CA4D5;
}

.ucBody a:hover
{
	color: #8CA4D5;
}

.ucBody a:active
{
	color: #8CA4D5;
}
.img
{
	display: block;
	margin: 0px;
	vertical-align: bottom;
}

.loginControl
{
	padding: 5px 15px;
	margin: 0px;
	background-color: #8ca4d5;
	height:204px;
	border: 1px solid #1B4298;
	font-size:14px;	
	color:White;	
}

.loginControl a:link
{
	color: #FFFFFF;
}

.loginControl a:visited
{
	color: #FFFFFF;
}

.loginControl a:hover
{
	color: #FFFFFF;
}

.loginControl a:active
{
	color: #FFFFFF;
}

.loginControlSignIn
{
	background-color:#1B4298;
	color: White;
	font-size:14px;
	font-weight:bold;
	border: solid 1px #1B4298;	
}

.loginControlTextBox
{
	border: solid 1px black;
}

*+html #divLoginControl
{
	padding: 0px;
	margin: 0px;
	height:inherit;
	vertical-align:bottom;
	position: relative;
	display:block;
	width:100%;
}

#divLoginControl a:link
{
	color: white;
}

#divLoginControl a:visited
{
	color: white;
}

.fieldLabels
{
    text-align: right;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top;
}
.fieldControls
{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top;
}

.gridLabels
{
    text-align: left;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top;
    font-weight:bold;
}
.errorLabel
{
	color:Red;
}

.courseNameDashboard
{
	font-weight: bold;	
}

/* For the new div Columns */
#divColumnLeft 
{
    width: 60%;
    display: inline-block;
}

#divColumnRight 
{
    width: 40%;
    display: inline-block;
    float: right;    
}
.divOneThird
{
    width: 32.328%;
    display: inline-block;
    float: left;
    padding: 5px;
}

/* Image Slider CSS */

.slide_container { margin: 0 auto; padding: 0px 0px 40px 0px; }
.slide_container .slides {
	display: block;
	position: relative;
	overflow: hidden;
    padding: 0px 0px 0px 0px;
}
.slide_container .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
    padding: 0px 0px 0px 0px;
}
.slide_container .slides li img {
	display: block;
	width: 100%;
	max-width: none;
    padding: 0px 0px 0px 0px;
}
.slide_container .slides li.active { display: block; position: relative; padding: 0px 0px 0px 0px; }
.slide_container .crop li img { width: auto; }

.slide_container .pager {
	height: 40px;
	text-align: center;
    padding: 0px 0px 0px 0px;
}
.slide_container .pager li { display: inline-block;}
.slide_container .pager li a,
.slide_container .pager li a span {
	display: block;
	height: 14px;
	width: 14px;
}
.slide_container .pager li a {
	padding: 18px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
.slide_container .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px
}
.slide_container .pager li.active a span { background: #404040;}